fastapi[standard]
uvicorn[standard]
google-adk
google-genai
python-dotenv
Langfuse
pandas
numpy
openpyxl
xlsxwriter
streamlit==1.32.0
matplotlib
seaborn
plotly
pydantic==2.0.0
poetry==1.8.0
mypy==1.10.0
